*,
*::before,
*::after {
  box-sizing: border-box;
  color: #131313;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

:root {
  --mainBgColor: #2878e7;
  --mainTextColor: gray;
}

::-webkit-scrollbar {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #2878e7;
}

img {
  user-select: none;
}

/* ===== Local Framwork Start ===== */

.i-f {
  background-image: url(../img/Social-Icons/facebook-logo.png);
}

.hero-title {
  font-size: 50px;
  line-height: 70px;
}

.hero-para {
  color: gray;
  font-size: 16px;
  line-height: 25px;
}

.hero-span {
  color: transparent;
  background: linear-gradient(135deg, #2878e7 0%, rgb(0, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-h-footer {
  font-size: 40px;
}

.E-btn {
  text-decoration: none;
  font-size: 25px;
  line-height: 0;
  width: fit-content;
  height: fit-content;
  padding: 10px 25px;
  background-color: #e0e0e0;
  border: 2px solid #1565c0;
  color: #2878e7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px #0000008c;
  transition: all 0.4s;
  user-select: none;
}

.E-btn:hover {
  background-color: #c7c6c6;
  border-color: #114f96;
  transform: translateY(-7px);
}
.A-btn {
  text-decoration: none;
  font-size: 25px;
  line-height: 0;
  width: fit-content;
  height: fit-content;
  padding: 10px 25px;
  background-color: #2878e7;
  border: 2px solid #1565c0;
  color: #e0e0e0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px #0000008c;
  transition: all 0.4s;
  user-select: none;
}

.A-btn:hover {
  background-color: #1565c0;
  border-color: #114f96;
  transform: translateY(-7px);
}

marquee span {
  margin-right: 170px;
  color: #e0e0e0;
}

.marquee-container {
  max-width: 100%;
  overflow: hidden;
  background-color: #2878e7;
  border-top: 2px solid #1565c0;
  border-bottom: 2px solid #1565c0;
  font-size: 25px;
  padding: 10px 0px;
}

.hero-h6 {
  font-size: 18px;
  color: #e0e0e0;
  background-color: #2878e7;
  width: fit-content;
  padding: 3px 13px;
  border-radius: 5px;
  margin: 0 auto 70px;
}

.menu {
  width: 50px;
  height: 5px;
  border-radius: 8px;
  position: relative;
  background-color: black;
  transition: all 0.5s;
}

.menu-container {
  width: 50px;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
}

.menu::after,
.menu::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  border-radius: 8px;

  background-color: black;
}

.menu::before {
  top: -10px;
}

.menu::after {
  bottom: -10px;
}

.menu-container:hover .menu {
  transition: all 0.5s;
  width: 25px;
}

.menu-container:hover .menu ul {
  display: block;
  margin: 30px -120px;
  background-color: #2878e7;
  border: 2px solid #1565c0;
  border-radius: 15px;
  width: 190px;
  height: 250px;
  padding: 25px;
  box-shadow: 0px 0px 10px #00000066;
}

.menu-container .menu ul {
  display: none;
  position: absolute;
  list-style: none;
}

.menu-container .menu ul li {
  margin-bottom: 15px;
  transition: all 0.3s;
  width: fit-content;
  height: fit-content;
}

.menu-container .menu ul li:hover {
  margin-left: 10px;
}

.menu-container .menu ul li a {
  text-decoration-line: none;
  color: white;
  font-size: 24px;
  width: fit-content;
  height: fit-content;
}

/* ===== Local Framwork End ===== */

/* ===== Header Start ===== */

header {
  display: flex;
  background-color: #006aff;
  width: 100%;
  height: 100px;
  padding: 10px 50px;
  justify-content: space-between;
  user-select: none;
  align-items: center;
  box-shadow: 0px 0px 10px #00000066;
  position: fixed;
  top: 0;
  z-index: 100;
}

header > img {
  width: 80px;
  border-radius: 50%;
  border: 2px solid #00419c;
  box-shadow: 0px 0px 10px #00000066;
}

header > ul {
  list-style: none;
}

header > ul li a {
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 25px;
  line-height: 0;
  transition: all 0.5s;
  color: #e0e0e0;
}

header > ul li a:hover {
  background-color: #247fffb5;
}

header > ul li {
  display: inline-block;
  font-size: 26px;
  margin-left: 20px;
}

/* ===== Header End ===== */

/* ===== Profile Start ===== */

main {
  background-image: linear-gradient(
    182deg,
    #006aff5f 0%,
    rgba(255, 255, 255, 0) 93.47%
  );
  display: flex;
  margin-top: 100px;
  width: 100%;
  height: 700px;
  margin-bottom: -80px;
  padding: 30px 60px;
  padding-top: 120px;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  flex-direction: row-reverse;
}

main::before {
  content: url(../img/BG-Imgs/bg-header-desktop.png);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

main img:not(.texts img) {
  width: 380px;
  height: 380px;
  margin-right: 100px;
  border-radius: 50%;
  user-select: none;
  border: 3px solid #2878e7;
}

main .c-shap {
  width: 700px;
  height: 700px;
  background-color: #6eaaff78;
  border-radius: 50%;
  position: absolute;
  right: -200px;
  top: -200px;
  z-index: -1;
}

main .texts {
  line-height: 50px;
}

main .icons img,
.se5 .icons img {
  width: 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  transition: all 0.5s;
  cursor: pointer;
  user-select: none;
}

main .icons img:hover,
.se5 .icons img:hover {
  background-color: rgb(199, 199, 199);
}

.i-btn {
  margin-top: 20px;
  margin-bottom: 30px;
}

.i-btn img {
  margin-left: 5px;
  width: 40px;
}

.i-btn:nth-of-type(2) img {
  width: 30px;
  margin-left: 15px;
}

/* ===== Profile End ===== */

/* ===== Section 2 Start ===== */

.se2 {
  margin-top: 150px;
}

.se2 > h1 {
  text-align: center;
}

.se2 .cards:has(.card:hover) .card:not(:hover) {
  -webkit-filter: blur(1px);
  -ms-filter: blur(1px);
}

.se2 .cards {
  display: grid;
  width: 70%;
  height: 900px;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: 170px 170px 170px 170px;
  gap: 70px;
  text-align: left;
}

.se2 .card h2,
.se2 .card p {
  color: black;
  font-family: cursive;
}

.se2 .card p {
  color: gray;
}

.se2 .card {
  background-image: url(../img/BG-Imgs/Cards-BG.png);
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.525);
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  border: 2px solid #2878e7;
  box-shadow: 0px 0px 20px #2878e7;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-decoration-line: none;
}

.se2 .cards .card .imgs img:nth-of-type(1) {
  width: 300px;
  height: 100%;
  object-fit: cover;
}

.se2 .card img:nth-of-type(1) {
  width: 300px;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: 0;
  right: 0;
  border-left: 3px solid #1565c0;
}

.se2 .card:hover {
  transition: all 0.3s ease;
  cursor: pointer;
  transform: translateY(-20px);
  box-shadow: -20px 20px 15px #2878e79f;
}

.se2 .card h2 {
  margin-left: 25px;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

.se2 .card p {
  font-size: 20px;
  line-height: 40px;
  margin-left: 50px;
}

.se2 .card img:nth-of-type(2) {
  top: 15px;
  right: 15px;
  width: 40px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.091);
  position: absolute;
  background-color: #2878e7;
}

/* ===== Section 2 End ===== */

/* ===== Section 3 Start ===== */

.se3 {
  display: flex;
  margin: 150px auto;
  margin-bottom: 300px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: fit-content;
}

.se3 .cards {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-top: 70px;
}

.se3 h1 {
  margin-top: 15px;
}

.se3 .card h2 {
  margin-top: 10px;
}

.se3 .card p {
  font-size: 18px;
}

.se3 .cards .card {
  background-image: url(../img/BG-Imgs/Cards-BG.png);
  width: 600px;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  margin: 0px auto;
  border: 2px solid #2878e7;
  box-shadow: 0px 0px 20px #2878e7;
  transition: all 0.3s ease;
}

.se3 .cards .card img {
  width: 144px;
}

/* ===== Section 3 End ===== */

/* ===== Section 4 Start ===== */

.se4 {
  margin-top: 100px;
  margin-bottom: 100px;
  background-image: url(../img/BG-Imgs/common-bg.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  width: 100%;
}

.se4 .head-of-skills {
  text-align: center;
  width: 100%;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.se4 .head-of-skills p {
  width: 70%;
}

.se4 .skills-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20rem;
}

.se4 .skill img {
  width: 80px;
  position: relative;
}

.se4 .skill {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.se4 .skill h2 {
  font-size: 40px;
  height: fit-content;
  width: fit-content;
}

.se4 .skill p {
  margin-top: -30px;
  text-align: center;
}

.se4 .skill .wow {
  background-color: #6eaaff;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
  line-height: 0;
  position: relative;
  margin-left: 10px;
  transition: all 0.3s;
}

.se4 .skill .wow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #6eaaff;
  border-radius: 10px;
  left: -10px;
  bottom: -10px;
  transition: all 0.3s;
}

/* ===== Section 4 End ===== */

/* ===== Section 5 Start ===== */

.se5 {
  width: 70%;
  height: 20rem;
  background-image: url(../img/BG-Imgs/Cards-BG.png);
  border-radius: 40px;
  flex-direction: column;
  position: relative;
  display: flex;
  margin: 150px auto 200px;
  padding: 40px;
  border: 2px solid #2878e7;
  box-shadow: 0px 0px 20px #2878e7;
  position: relative;
}

.se5 h2 {
  font-size: 45px;
  font-weight: bold;
  margin-left: 60px;
  margin-top: -10px;
}

.se5 p {
  margin-top: -20px;
  font-size: 20px;
  line-height: 40px;
}

.me {
  position: absolute;
  width: 50px;
  padding: 5px;
  border-radius: 10px;
  align-self: flex-start;
  margin-left: -10px;
  margin-top: -10px;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.259);
  background-color: #2878e7;
}

.se5 .icons {
  position: absolute;
  bottom: 5px;
  display: flex;
}

.se5 img[src="img/Ahmed.png"] {
  width: 200px;
  align-self: flex-end;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #2878e7;
  box-shadow: 0px 0px 25px #2878e7;
  animation-name: shadow;
  animation-duration: 1.5s;
  animation-delay: 0.1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shadow {
  to {
    box-shadow: 0px 0px 0px #2878e7;
  }
}

/* ===== Section 5 End ===== */

/* ===== Footer Start ===== */

footer {
  width: 100%;
  height: 250px;
  background-image: url(../img/BG-Imgs/Cards-BG.png);
  overflow: hidden;
  border-top: 2px solid #2878e7;
  box-shadow: 0px 0px 20px #2878e7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 35px;
  /* gap: 215px; */
}

footer .preview {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer .preview > img {
  width: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #2878e7;
}

footer .preview h2 {
  display: inline-block;
  font-size: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer .se2-f ul {
  list-style: none;
}

footer .se2-f ul li {
  position: relative;
  margin-bottom: 10px;
  width: fit-content;
}

footer .se2-f ul img {
  position: absolute;
  width: 15px;
  left: -25px;
  top: 5.5px;
}

footer a {
  text-decoration-line: none;
}

footer .se3-f p {
  line-height: 35px;
}

img[src="img/footer-shape.svg"] {
  margin-bottom: -5px;
}

/* ===== Footer End ===== */
